body {
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacts {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #60686c;
    color: white;
    padding: 6px;
    overflow: scroll;
    box-sizing: border-box;
}

.contact.active {
    background: #4d5356;
}

.contact:hover {
    background: #4d5356;
}

.contact {
    text-overflow: ellipsis;
    overflow-block: clip;
    overflow-inline: clip;
    max-height: 5%;
    cursor: pointer;
}

a {
    color: deepskyblue;
}

.white {
    color: white;
}

.messages {
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: 99.6%;
    background: #181a1b;
    color: white;
    overflow: hidden;
}

.accessingContact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow-block: clip;
    overflow-inline: clip;
    height: 2.5%;
    padding: 8px;
    text-align: center;
    font-weight: bolder;
    background: #4d5356;
}

.accessingContactContainer {
    width: 100%;
    height: 4%;
    display: block;
}

.message.sent {
    background: #0d81fc;
    float: right;
}

.message.read {
    float: left;
    background: #60686c;
}

.message {
    border-radius: 6px;
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    max-width: 25%;
    display: block;
    color: white;
    clear: both;
    overflow-wrap: break-word;
    cursor: default;
}

.messagesContainer {
    overflow: scroll;
    height: 89%;
    margin-top: 10px;
}

.textareaInput {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    height: 5%;
    bottom: 0;
    resize: none;
    background: #303030;
    color: white;
    border-radius: 5px;
    border-color: #474747;
}

.textareainput::selection {
	color: white;
	background: white;
}

.sendInput {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 9%;
    height: 5.7%;
    background: #303030;
    color: white;
    border-color: #5c5c5c;
    border-radius: 5px;
}

.commit_info {
    position: fixed;
    top: .15em;
    right: .15rem;
    text-align: right;
    color: white;
    font-size: .5em;
    z-index: 1;
}

.message-features {
    font-size: .5em;
    text-align: right;
}

.contextMenu {
    position: absolute;
    background: #303030;
    border-radius: 5px;
    padding: 5px;
    max-width: 300px;
}

.contextMenuItem {
    padding: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
    background: #303030;
    color: white;
    border: none;
    text-align: unset;
}

.contextMenuItem:hover {
    background: #0d81fc;
}

.contextMenuItem:disabled:hover {
    background: #474747;
}